.ui-widget-header {
  background-color: orange;
}

.ui-widget-content {
  background-color: #ffe082;
}

/* to override jqueryui icons for font icons */
[class^="icon-"],
[class*=" icon-"] {
  background: none !important;
  background-image: none !important;
  text-indent: 0 !important;
  padding: 0.2em 0 0 0.2em !important;
}

.ui-dialog .ui-dialog-title .ui-icon {
  float: left;
  margin-right: 4px;
}
